
.btn-dark-mode{
    background-color: var(--black);
    position: absolute;
    right: 0;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 40px 40px;
    border-bottom-right-radius: 40px 40px;
}
.off{
    display: none;
}