.btn-dark-mode {
  display: none;
}
@media (min-width: 810px) {
  .btn-dark-mode {
    position: absolute;
    right: 0;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .off {
    display: none;
  }
}
