.dark{
    background-color: var(--white-darkMode);
}
body.dark .li-a{
    color: var(--black-darkMode)
}
body.dark .li-a:after{
    background-color: var(--black-darkMode)
}
body.dark .add{
    color: var(--black-darkMode);
    border: 2px solid var(--black-darkMode);
}
body.dark .add::placeholder{
    color: var(--black-darkMode);
}
body.dark .add:focus{
    color: var(--black-darkMode);
}
body.dark .desktop-more{
    color: var(--black-darkMode);
}
body.dark .catOne{
    display:none;
}
body.dark .catTwo{
    display:block;
}
body.dark .moon{
    display:none;
}
body.dark .sun{
    display:block;
}
body.dark .lista_task{
    background-color: var(--black-darkMode);
    color:var(--white-darkMode);
    font-weight: 500;
}
body.dark .second p{
    color: var(--black-darkMode);
}
body.dark .github-dark{
    display: none;
}
body.dark .linkind-dark{
    display: none;
}
body.dark .twitter-dark{
    display: none;
}
body.dark .github-white{
    display: block;
}
body.dark .linkind-white{
    display: block;
}
body.dark .twitter-white{
    display: block;
}
body.dark .delete-white{
    display: block;
}
body.dark .delete-dark{
    display: none;
}
body.dark .no-task-text{
    color: var(--black-darkMode);
}
body.dark .git-version-white{
    display: block;
}
body.dark .git-version-dark{
    display: none;
}
body.dark .git-version-text{
    color: var(--black-darkMode);
}
body.dark .tools-user-white{
    display: block;
}
body.dark .tools-user-dark{
    display: none;
}
body.dark .name{
    color: var(--black-darkMode)
}