.modal-setting-center{
    display: none;
}
@media (min-width:810px){
    .window-modal-setting{
        width: 100vw;
        height: 100vh;
        background-color:rgba(29, 29, 29, 0.633) ;
        position: absolute;
        z-index: 1100;
        transition: 0.5s;
        right: -100vw;
    }
    .modal-setting-center{
        width: 100vw;
        height: 100vh;
        display:grid;
        place-items: center;
        position: absolute;
        transition: 1s;
        display: static;
        z-index: 1500;
        left: -100vw;
    }
    .modal-setting{
        width: auto;
        height: auto;
        background-color: var(--white);
        border-radius: 30px;
        position: absolute;
        z-index: 1000;
        display: flex;
        flex-direction: column;
        padding:2.2% 2.2%;
        justify-content: center;
    }
    .modal-setting-title{
        text-align: center;
        font-size: 1rem;
    }
    .modal-setting-title h4{
        font-size: 1.5rem;
        color: var(--black);
        font-family: 'Montserrat Alternates', sans-serif;
        
    }
    .modal-setting-title img{
        position: relative;
        top: -9px;
    }
    .modal-setting-letter{
        margin-top: 30px;
        display: grid;
        column-gap: 30px;
        row-gap: 20px;
        grid-template-columns: 1fr 1fr;
        place-items: center;
    }
    .modal-setting-letter button{
        border: none;
        outline: none;
        background-color: var(--black);
        color: var(--white);
        border-radius: 5px;
        padding: 5px;
        width: 120px;
        cursor: pointer;
    }
    .modal-setting-letter button:hover{
        background-color: var(--white);
        color: var(--black);
        transition: 0.5s;
    }
    .modal-setting-subtitle{
        margin-top: 10px;
        font-family: 'Montserrat Alternates', sans-serif;
        font-weight: 600;
        color: var(--gris-look);
    }
    .modal-setting-footer{
        margin-top: 30px;
        font-size: 0.7rem;
        text-align: center;
    }
    /* btn */
    .itim{
        font-family: 'Itim', cursive;
    }
    .roboto{
        font-family: 'Roboto', sans-serif;
    }
    .montserrat{
        font-family: 'Montserrat', sans-serif;
    }
    .lato{
        font-family: 'Lato', sans-serif;
    }
    .firacode{
        font-family: 'Fira Code', monospace;

    }
    .comicneue{
        font-family: 'Comic Neue', cursive;
    }

}